<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5;URL=blue.html" />
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Welke kleur zie je?</title>
  </head>
  <body>
    <section>
      <h1>Welke kleur zie je?</h1>
      <h2 class="green">Rood</h2>
      <p>Maak je keuze in...</p>
      <span id="timer"></span>
    </section>

    <script src="js/script.js"></script>
  </body>
</html>
