<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css"></link>
    <title>Arduino ding</title>
    <style>
        div {
            height: 50em;
            width: 50em;
        }
    </style>
</head>
<body>
    <h1>ARDUINO</h1>
    <div style="background-color: #<%- color -%>">
        <h3><%- colors -%></h3>
    </div>


<script src="/js/script.js"></script>
</body>
</html>