<% include partials/header.ejs %>
<section>
    <h1>Press the box with the color name you see on the screen</h1>
    <h2><%- colors -%></h2>
    <span id="timer"></span>
</section>

<% include partials/footer.ejs %>

