    <% include partials/head.ejs %>

    <section>
        <h1>Welke kleur zie je?</h1>
        <h2 style="color: #<%= color.new_color %>;" id="color-name">Zwart</h2>
        <p>Maak je keuze in...</p>
        <span id="timer"></span>
      </section>

<% include partials/footer.ejs %>
