<% include partials/header.ejs %>

<section>
	<a class="btn-start-game" href="/game">Start game</a>
	<button class="btn-challenge" data-user="OliverRob">Challenge OliverRob</button>
	<button class="btn-challenge" data-user="NooroelDylan">Challenge NooroelDylan</button>
</section>

<% include partials/footer.ejs %>

