<% include partials/header.ejs %>
<section>
	<h1>Log in</h1>
    <form class="login-form">
    	<fieldset>
    		<label id="input-username">Username</label>
    		<input type="text" name="input-username">
    	</fieldset>
    	<button type="submit">Log in</button>
    </form>
</section>

<% include partials/footer.ejs %>