<%- include partials/header.ejs %>

	<main class="Main">
	    <nav class="Navigation">
	        <ul>
	            <li class="User User--black">
	                <div class="User__image">
	                    <img src="/img/rob.jpg" title="#" alt="#">
	                </div>
	                <div class="User__information">
	                    <h3>Rob van der Pas</h3>
	                    <span>#2 / Highscore: 122</span>
	                </div>
	            </li>
	            <li class="Navigation__ranking"><a href="/users/ranking" title="#">Ranking</a></li>
	            <li class="Navigation__controller"><a href="/users/controller" title="#">Controller</a></li>
	        </ul>
	    </nav>

	    <div class="Main__wrapper">

	        <div class="Challenges">
	            <section class="Challenges__playable">
	                <h2>Overzicht ranking</h2>

	                <ul>
	                    <li class="User">
	                        <div class="User__rank">
	                            <span>#1</span>
	                        </div>
	                        <div class="User__image">
	                            <img src="/img/rob.jpg" title="#" alt="#">
	                        </div>
	                        <div class="User__information">
	                            <h3>Henk Donderslag</h3>
	                        </div>

	                        <div class="User__points">
	                            <span>140 pnt.</span>
	                        </div>

	                        <div class="User__button">
	                            <a href="#" title="#" class="more btn-challenge" data-user="OliverDylan">Challenge</a>
	                        </div>
	                    </li>

	                    <li class="User">
	                        <div class="User__rank">
	                            <span>#2</span>
	                        </div>
	                        <div class="User__image">
	                            <img src="/img/rob.jpg" title="#" alt="#">
	                        </div>
	                        <div class="User__information">
	                            <h3>Henk Donderslag</h3>
	                        </div>

	                        <div class="User__points">
	                            <span>140 pnt.</span>
	                        </div>
	                    </li>

	                    <li class="User">
	                        <div class="User__rank">
	                            <span>#3</span>
	                        </div>
	                        <div class="User__image">
	                            <img src="/img/rob.jpg" title="#" alt="#">
	                        </div>
	                        <div class="User__information">
	                            <h3>Henk Donderslag</h3>
	                        </div>

	                        <div class="User__points">
	                            <span>140 pnt.</span>
	                        </div>

	                        <div class="User__button">
	                            <a href="#" title="#" class="more btn-challenge" data-user="OliverDylan">Challenge</a>
	                        </div>
	                    </li>

	                    <li class="User">
	                        <div class="User__rank">
	                            <span>#4</span>
	                        </div>
	                        <div class="User__image">
	                            <img src="/img/rob.jpg" title="#" alt="#">
	                        </div>
	                        <div class="User__information">
	                            <h3>Henk Donderslag</h3>
	                        </div>

	                        <div class="User__points">
	                            <span>140 pnt.</span>
	                        </div>

	                        <div class="User__button">
	                            <a href="#" title="#" class="more btn-challenge" data-user="OliverDylan">Challenge</a>
	                        </div>
	                    </li>

	                    <li class="User">
	                        <div class="User__rank">
	                            <span>#5</span>
	                        </div>
	                        <div class="User__image">
	                            <img src="/img/rob.jpg" title="#" alt="#">
	                        </div>
	                        <div class="User__information">
	                            <h3>Henk Donderslag</h3>
	                        </div>

	                        <div class="User__points">
	                            <span>140 pnt.</span>
	                        </div>

	                        <div class="User__button">
	                            <a href="#" title="#" class="more btn-challenge" data-user="OliverDylan">Challenge</a>
	                        </div>
	                    </li>
	                </ul>
	            </section>
	        </div>

	        <section class="Team">
	            <h2>Team</h2>
	            <ul>
	                <li class="User">
	                    <div class="User__image">
	                        <img src="/img/rob.jpg" title="#" alt="#">
	                    </div>
	                    <div class="User__information">
	                        <h3>Henk Donderslag</h3>
	                    </div>
	                </li>
	                <li class="User">
	                    <div class="User__image">
	                        <img src="/img/rob.jpg" title="#" alt="#">
	                    </div>
	                    <div class="User__information">
	                        <h3>Henk Donderslag</h3>
	                    </div>
	                </li>
	                            <li class="User">
	                    <div class="User__image">
	                        <img src="/img/rob.jpg" title="#" alt="#">
	                    </div>
	                    <div class="User__information">
	                        <h3>Henk Donderslag</h3>
	                    </div>
	                </li>
	            </ul>
	        </section>
	    </div>
	</main>

<%- include partials/footer.ejs %>